#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  position: relative;
  resize: both;
  overflow: scroll;
}

#img {
  width: 100%;
}
